<div class="page-header">
  <h1>About <small>A demonstration of what you can do with some pump and a Galileo card from Intel</small></h1>
</div>

<div class="jumbotron">
Innovation Hub's Barman Bot.
<br />
The goal of this project is to create a bot who controls a bar.
<br />
You can order drinks from the web API from known or custom recipes.
<br />
Project created by the Hub Innovation team from <a href="http://www.epitech.eu">Epitech</a>
<br />
<a href="https://github.com/Innovation-Hub/barbot">Github project</a>
<br /><br /><br />
<center>
	<img src="https://github-camo.global.ssl.fastly.net/51fbf29c2c66a070b600c97e43ea8fed8b746821/687474703a2f2f6f6936302e74696e797069632e636f6d2f323372327764752e6a7067"/>
	<br/>
	<img width="640" src="https://github-camo.global.ssl.fastly.net/010d8f555f1535912bf0abd95cddd8749537b906/687474703a2f2f692e696d6775722e636f6d2f4879397a7856742e6a7067"/>
</center>
</div>
